[Desktop Entry]
Type=Application
Exec=conky --config=/home/{{ username }}/.conky.conf --daemonize --pause=1
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=conky
Name=conky
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=0
