[Desktop Entry]
Type=Application
Exec=xrandr --output VGA-1 --mode {{ monitor_width }}x{{ monitor_height }}
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=xrandr resolution
Name=xrandr resolution
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=1
